<section class="padding-top-70 padding-bottom-70" style="background-color:#F4F7F9">
	<div class="container">
		<div class="row text-center padding-bottom-50 text-montserrat">
					<h2>COMMENT ÇA MARCHE?</h2>
		</div>
		<div class="col-md-12">
			<div class="col-md-4 text-center">
					<%= link_to (image_tag("draw4.png")), root_path%>
					<div class="text-merriweather"><h4><strong>Proposez votre design</strong></h4></div>
					<div>Proposez votre design pour la nouvelle collection en fonction de la thématique proposée</div>
			</div>
			<div class="col-md-4 text-center">
					<%= link_to (image_tag("vote.png")), root_path %>
					<div class="text-merriweather"><h4><strong>Participez au vote</strong></h4></div>
					<div>Votez pour votre design préféré pour chacune des collections en cours de création</div>
			</div>
			<div class="col-md-4 text-center">
					<%= link_to (image_tag("bracelet.png")), root_path %>
					<div class="text-merriweather"><h4><strong>Devenez créatrice</strong></h4></div>
					<div>La gagnante de chaque concours vient confectionner sa collection avec notre équipe de designers</div>
			</div>
		</div>
	</div>
</section>

<section class="padding-top-70 padding-bottom-70">
	<div class="container">
		<div class="col-md-12">
			<div class="row text-montserrat text-center padding-bottom-50">
				<h2>CHOISISSEZ VOTRE COLLECTION</h2>
			</div>
			<div class="col-md-4">
				<div class="thumbnail thumbnail3">
 	   				<%= link_to (image_tag("boheme.jpg")), root_path %>
 	   					<div class="caption" id="caption-down">
 	   					<div class="bouttonproduit1"><%= link_to root_path, class: "btn btn-danger btn-lg btn-product" do %>
							PARTICIPER
							<% end %></div>
 	   				</div>	
 	   				</div>
 	   				<div class="caption">
	 	   				<div class="phasein"><i class="fa fa-clock-o"></i>&nbsp;&nbsp;Encore 10 jours pour proposer vos designs!</div>
	 	   				<div class="phaseout"><i class="fa fa-calendar"></i>&nbsp;&nbsp;Les votes débutent dans 10 jours.</div>
	 	   			</div>
 	   	</div>
			<div class="col-md-4">
				<div class="thumbnail thumbnail3">
 	   				<%= link_to (image_tag("illuminationdoree.jpg")), root_path %>
 	   				<div class="caption" id="caption-down">
 	   					<div class="bouttonproduit1"><%= link_to root_path, class: "btn btn-danger btn-lg btn-product" do %>
							VOTER
							<% end %></div>
 	   				</div>	
 	   				</div>
 	   				<div class="caption">
	 	   				<div class="phaseout"><i class="fa fa-check-square-o"></i>&nbsp;&nbsp;Le processus de création est terminé.</div>
	 	   				<div class="phasein"><i class="fa fa-clock-o"></i>&nbsp;&nbsp;Il vous reste 10 jours pour voter!</div>
	 	   			</div>
			</div>
			<div class="col-md-4">
				<div class="thumbnail thumbnail3">
 	   				<%= link_to (image_tag("workinggirl.jpg")), root_path %>
 	   				<div class="caption" id="caption-down">
 	   					<div class="bouttonproduit1"><%= link_to root_path, class: "btn btn-danger btn-lg btn-product" do %>
							A VENIR LE 15/09/15
							<% end %></div>
 	   				</div>
 	   				</div>	
 	   				<div class="caption">
	 	   				<div class="phaseout"><i class="fa fa-calendar"></i>&nbsp;&nbsp;Proposez vos designs dans 10 jours.</div>
	 	   				<div class="phaseout"><i class="fa fa-calendar"></i>&nbsp;&nbsp;Les votes débutent dans 25 jours!</div>
	 	   			</div>
			</div>
		</div>
	</div>
</section>


<section class="citation">
	<div class="container">
		<div class="row col-md-12">
				<div class="text-merriweather" style="font-size:24px;">Designers are meant to be loved, not to be understood.</div>
				</br>
				<div class="text-montserrat">- MARGARET OSCAR</div>
		</div>
	</div>
</section>


