<section>
	<div class="container">
		<div class="row padding-top-25">
			<div class="col-md-8" style="border-right: 1px solid #DEDEDE">
				<div class="col-md-12 text-montserrat padding-bottom-10" style="font-size:18px">
					VOUS AVEZ CHOISI LA COLLECTION ><span class="boheme"> Vie de Boheme</span>
				</div>
				<div class="col-md-4">
					<div class="thumbnail selected-theme">
		 	   				<%= link_to (image_tag("boheme.jpg")), root_path %>
		 	   	</div>
		 	  </div>
	 	   	<div class="col-md-4">
		 	   	<div class="thumbnail theme">
		 	   				<%= link_to (image_tag("teteailleurs.jpg")), root_path %>
		 	   	</div>
		 	  </div>
	 	   	<div class="col-md-4">
		 	   	<div class="thumbnail theme">
		 	   				<%= link_to (image_tag("workinggirl.jpg")), root_path %>
		 	   	</div>
		 	  </div>
		 	  <div class="col-md-12">
		 	  	La collection Vie de Bohème ... Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum. 
		 	  </div>
			</div>
			<div class="col-md-4">
				<div class="col-md-12 text-montserrat padding-bottom-10" style="font-size:18px">
					DETAILS PRATIQUES
				</div>
				<div class="col-md-12 padding-bottom-30">
					<div><i class="fa fa-calendar"></i>&nbsp;&nbsp;Phase de participation: 10/09/15 - 25/09/15</div>
					<div><i class="fa fa-calendar"></i>&nbsp;&nbsp;Phase de votes: 17/09/15 - 01/10/15</div>
				</div>
				<div class="col-md-12 text-merriweather padding-bottom-10" style="font-style:italic; font-size:18px;">
					Quelques conseils:
				</div>
				<div class="col-md-12 no-padding">
					<ul>
						<li>XXX</li>
						<li>XXX</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="margin-top-70 padding-bottom-70 padding-top-40" style="background-color:#F4F7F9">	
	<div class="container">
		<div class="row padding-top-25">
			<div class="col-md-12 text-merriweather text-center" style="font-size:24px; font-weight:bold;">
				Votez pour votre design préféré
				</div>
				<div class="col-md-6 col-md-offset-3 text-center padding-bottom-30">
				Vous et seulement vous pouvez choisir notre nouvelle designer!
				</div>
				<div class="col-md-6 padding-left-50 padding-right-30 text-center">
				<div class="thumbnail bordered4">
					<%= link_to (image_tag("dessin.jpg")), root_path %>
					<div class="caption" id="caption-down">
 	   					<div class="text-center" style="color:#FFFFFF">
								<div class="merriweather">Intitulé du dessin</div>
								<span class="label label-default" style="font-size: 14px">#Collier</span>
								<span class="label label-default" style="font-size: 14px">#Bracelet</span>
								<div class="padding-top-20">"Description du dessin."</div>
							</div>
 	   			</div>	
				</div>	
				<div class="caption">
					<div class="col-md-6" style="z-index:2">
						<div class="circular"><%= link_to (image_tag("profiledefaut.png")), root_path %></div>
						<div style="margin-top:-25px; padding-left:50px; font-size:16px;"><strong>Marie</strong> | 22 ans</div>
					</div>
					<div class="col-md-6" style="z-index:2">
						<div class="circular2" style="padding-top:15px;">
						<i class="fa fa-heart-o fa-2x"></i>
						</div>
						<div style="margin-top:-25px; font-size:16px;">
							<div class="inline margin-right-5 social-icon"><i class="fa fa-facebook"></i></div>
							<div class="inline margin-right-5 social-icon"><i class="fa fa-twitter"></i></div>
							<div class="inline margin-right-5 social-icon"><i class="fa fa-instagram"></i></div>
							<div class="inline margin-right-5 social-icon"><i class="fa fa-pinterest"></i></div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 padding-left-50 padding-right-30 text-center">
				<div class="thumbnail bordered4" style="z-index:1">
					<%= link_to (image_tag("dessin.jpg")), root_path %>
					<div class="caption" id="caption-down">
 	   					<div class="text-center" style="color:#FFFFFF">
								<div class="merriweather">Intitulé du dessin</div>
								<span class="label label-default" style="font-size: 14px">#Collier</span>
								<span class="label label-default" style="font-size: 14px">#Bracelet</span>
								<div class="padding-top-20">"Description du dessin."</div>
							</div>
 	   			</div>	
				</div>	
				<div class="caption">
						<div class="col-md-6" style="z-index:2"><div class="circular3" style="padding-top:15px;"><i class="fa fa-heart-o fa-2x"></i></div>
						<div style="margin-top:-25px; margin-left:-30px; font-size:16px;">
							<div class="inline margin-right-5 social-icon"><i class="fa fa-facebook"></i></div>
							<div class="inline margin-right-5 social-icon"><i class="fa fa-twitter social-icons"></i></div>
							<div class="inline margin-right-5 social-icon"><i class="fa fa-instagram social-icons"></i></div>
							<div class="inline margin-right-5 social-icon"><i class="fa fa-pinterest social-icons"></i></div>
						</div>
						</div>
						<div class="col-md-6" style="z-index:2">
							<div class="circular4"><%= link_to (image_tag("profiledefaut.png")), root_path %></div>
							<div style="margin-top:-25px; padding-right:80px; font-size:16px;"><strong>Julie</strong> | 19 ans</div>
						</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="padding-bottom-50 padding-top-30">
	<div class="container">
			<div class="row padding-top-25">
				<div class="col-md-12 text-center text-montserrat padding-bottom-30" style="font-size:24px">
				TOP 3 DES VOS PLUS BELLES CREATIONS
				</div>
				<div class="col-md-4">
					<div class="text-merriweather text-center margin-bottom-10" style:"font-style:italic"><h1>#1</h1></div>
					<div class="thumbnail bordered5" style="z-index:1">
					<%= link_to (image_tag("dessin.jpg")), root_path %>
					<div class="caption" id="caption-down">
 	   					<div class="text-center" style="color:#FFFFFF">
								<div class="merriweather">Intitulé du dessin</div>
								<span class="label label-default" style="font-size: 14px">#Collier</span>
								<span class="label label-default" style="font-size: 14px">#Bracelet</span>
								<div class="padding-top-20">"Description du dessin."</div>
							</div>
 	   			</div>	
					</div>	
					<div class="caption">
					<div class="col-md-12 text-center" style="z-index:2">
						<div class="circular5"><%= link_to (image_tag("profiledefaut.png")), root_path %></div>
						<div class="margin-bottom-5" style="font-size:16px;"><strong>Marie</strong> | 22 ans</div>
					</div>
					<div class="col-md-12" style="z-index:2">
						<div class="text-center" style="font-size:16px;">
							<div class="inline margin-right-5 social-icon"><i class="fa fa-facebook"></i></div>
							<div class="inline margin-right-5 social-icon"><i class="fa fa-twitter"></i></div>
							<div class="inline margin-right-5 social-icon"><i class="fa fa-instagram"></i></div>
							<div class="inline margin-right-5 social-icon"><i class="fa fa-pinterest"></i></div>
						</div>
					</div>
				</div>
				</div>
				<div class="col-md-4">
					<div class="text-merriweather text-center margin-bottom-10"><h1 style:"font-style:italic;">#2</h1></div>
					<div class="thumbnail bordered5" style="z-index:1">
					<%= link_to (image_tag("dessin.jpg")), root_path %>
						<div class="caption" id="caption-down">
	 	   					<div class="text-center" style="color:#FFFFFF">
									<div class="merriweather">Intitulé du dessin</div>
									<span class="label label-default" style="font-size: 14px">#Collier</span>
									<span class="label label-default" style="font-size: 14px">#Bracelet</span>
									<div class="padding-top-20">"Description du dessin."</div>
								</div>
 	   				</div>	
					</div>
					<div class="caption">
						<div class="col-md-12 text-center" style="z-index:2">
							<div class="circular5"><%= link_to (image_tag("profiledefaut.png")), root_path %></div>
							<div class="margin-bottom-5" style="font-size:16px;"><strong>Marie</strong> | 22 ans</div>
						</div>
						<div class="col-md-12" style="z-index:2">
							<div class="text-center" style="font-size:16px;">
								<div class="inline margin-right-5 social-icon"><i class="fa fa-facebook"></i></div>
								<div class="inline margin-right-5 social-icon"><i class="fa fa-twitter"></i></div>
								<div class="inline margin-right-5 social-icon"><i class="fa fa-instagram"></i></div>
								<div class="inline margin-right-5 social-icon"><i class="fa fa-pinterest"></i></div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="text-merriweather text-center margin-bottom-10"><h1 style:"font-style:italic;">#3</h1></div>
					<div class="thumbnail bordered5" style="z-index:1">
						<%= link_to (image_tag("dessin.jpg")), root_path %>
						<div class="caption" id="caption-down">
	 	   					<div class="text-center" style="color:#FFFFFF">
									<div class="merriweather">Intitulé du dessin</div>
									<span class="label label-default" style="font-size: 14px">#Collier</span>
									<span class="label label-default" style="font-size: 14px">#Bracelet</span>
									<div class="padding-top-20" style="font-size: 14px">"Description du dessin."</div>
								</div>
	 	   			</div>	
					</div>
					<div class="caption">
						<div class="col-md-12 text-center" style="z-index:2">
							<div class="circular5"><%= link_to (image_tag("profiledefaut.png")), root_path %></div>
							<div class="margin-bottom-5" style="font-size:16px;"><strong>Marie</strong> | 22 ans</div>
						</div>
						<div class="col-md-12" style="z-index:2">
							<div class="text-center" style="font-size:16px;">
								<div class="inline margin-right-5 social-icon"><i class="fa fa-facebook"></i></div>
								<div class="inline margin-right-5 social-icon"><i class="fa fa-twitter"></i></div>
								<div class="inline margin-right-5 social-icon"><i class="fa fa-instagram"></i></div>
								<div class="inline margin-right-5 social-icon"><i class="fa fa-pinterest"></i></div>
							</div>
						</div>
					</div>
			</div>
			<div class="col-md-12 padding-top-40 text-center">
							<%= link_to root_path, class: "btn btn-danger btn-lg btn-black" do %>
							VOIR LE CLASSEMENT COMPLET
							<% end %>
			</div>
	</div>
</section>


<div class="col-md-4 col-md-offset-4 selection">
	<div class="btn-group" role="group" aria-label="...">
	  <div class="btn-group" role="group">
	    <button type="button" class="btn btn-default btn-selection-off">JE PARTICIPE!</button>
	  </div> 
	  <div class="btn-group" role="group">
	    <button type="button" class="btn btn-default btn-selection-on">JE VOTE!</button>
	  </div>
	</div>
</div>