<section class="panier">
	<div class="container">
		
		<div class="col-md-12 paniertitre nopadding">
		<div class="col-md-6 nopadding">
			<div class="inline paniertitre2">Panier</div>
			<div class="inline paniertitre3">(2 articles)</div>
		</div>
		<div class="col-md-6 nopadding text-right">
			<div class="paniertitre4">Continuer mon shopping ></div>
		</div>
		</div>

		<div class="col-md-12 nopadding panierbouton text-right">
			<div class="inline">
				<%= link_to root_path, class: "btn btn-danger btn-lg btn-panier1" do %>
				COMMANDER
				<% end %>
			</div>
		</div>

		<div class="col-md-12 nopadding">
			<table class="table nomargin">
				<thead>
					<tr>
		        <th>ITEM</th>
		        <th></th>
		        <th class="text-center">PRIX</th>
		        <th class="text-center">QUANTITE</th>
		         <th></th>
		        <th class="text-right">SOUS-TOTAL</th>
   				 </tr>
				</thead>
				<tbody>
					<tr>
		        <td class="item">
		        	<div class="thumbnail thumbnail5 nomargin">
	 	   				<%= link_to (image_tag("image21.jpg")), root_path %>
	 	   				</div>
	 	   			</td>
	 	   			<td class="description1-0">Bracelet argent et hématite</br><span class="description1-01">Taille: 25cm</br>Couleur: Rouge</span></td>
		        <td class="prix2-0 text-center">72.00€</td>
		        <td class="quantite text-center">
					      <i class="fa fa-minus-square inline"></i>
					      <div class="productcount inline">1</div>
					      <i class="fa fa-plus-square inline"><i>
		        </td>
		        <td class="trash"> <i class="fa fa-trash"></td>
		        <td class="prix3 text-right">72.00€</td>
   				</tr>
   				<tr class="borderbottom">
		        <td class="item">
		        	<div class="thumbnail thumbnail5 nomargin">
	 	   				<%= link_to (image_tag("image21.jpg")), root_path %>
	 	   				</div>
	 	   			</td>
	 	   			<td class="description1-0">Bracelet argent et hématite</br><span class="description1-01">Taille: 25cm</br>Couleur: Rouge</span></td>
		        <td class="prix2-0 text-center">72.00€</td>
		        <td class="quantite text-center">
					      <i class="fa fa-minus-square inline"></i>
					      <div class="productcount inline">1</div>
					      <i class="fa fa-plus-square inline"><i>
		        </td>
		        <td class="trash"> <i class="fa fa-trash"></td>
		        <td class="prix3 text-right">72.00€</td>
   				</tr>
				</tbody>
			</table>
		</div>

		<div class="col-md-8 nopadding border2">
			<div class="col-md-12 border3">
				<div class="col-md-12 nopadding"><strong>BON DE REDUCTION</strong></div>
				<div class="col-md-12 nopadding">
					<div class="inline">Pour rentrer votre bon de réduction, c'est par ici:&nbsp;&nbsp;</div>
					<div class="inline form-group"><input class="form-control input2"></input></div>
					<div class="inline"><%= link_to root_path, class: "btn btn-danger btn-lg btn-coupon nomargin" do %>
				APPLIQUER
				<% end %></div>
				</div>
			</div>
			
		</div>

		<div class="col-md-4 nopadding summary">
			<div class="col-md-8 summary1"><strong>SOUS-TOTAL</strong></div>
			<div class="col-md-4 text-right summary2"><strong>144.00€</strong></div>
			<div class="col-md-8 summary10"><strong>REDUCTION</strong></div>
			<div class="col-md-4 text-right summary11"><strong>-20.00€</strong></div>
			<div class="col-md-8 summary3"><strong>FRAIS DE PORT</strong></div>
			<div class="col-md-4 text-right summary4"><strong>Gratuit</strong></div>
			<div class="col-md-8 summary5"><strong>TOTAL</strong></div>
			<div class="col-md-4 text-right summary6"><strong>124.00€</strong></div>
			<div class="col-md-12 text-center summary7">
				<%= link_to root_path, class: "btn btn-danger btn-lg btn-panier1" do %>
				COMMANDER
				<% end %>
			</div>
			<div class="col-md-12 text-center summary9">
			<div class="footer-titre2 text-center">MODES DE PAIEMENT ACCEPTES</div>
				<ul class="footer-list text-center">
					<li>
						<i class="fa fa-cc-visa fa-2x"></i>
						<i class="fa fa-cc-mastercard fa-2x"></i>
						<i class="fa fa-cc-amex fa-2x"></i>
						<i class="fa fa-cc-paypal fa-2x"></i>
					</li>
					<li class="align">
						<i class="fa fa-expeditedssl fa">&nbsp;&nbsp;</i>Paiement SSL sécurisé
					</li>
				</ul>
			</div>
			</div>
		</div>



	</div>
</div>
</section>