<section class="productbis">
	
	<div class="container-fluid nopadding">
			<div class="col-md-3 nopadding">
				<div class="col-md-2 nopadding">
					<div class="thumbnail thumbnail12">
	 	   			<%= link_to (image_tag("arrow2.jpg")), root_path %>
	 	   		</div>
	 	   	</div>
	 	   	<div class="col-md-2 nopadding">
					<div class="thumbnail thumbnail12">
	 	   			<%= link_to (image_tag("arrow3.jpg")), root_path %>
	 	   		</div>
	 	   	</div>
			</div>

			<div class="col-md-6">	
	 	   	<div class="thumbnail thumbnail11">
	 	   	<%= link_to (image_tag("image22.jpg")), root_path %>
	 	   	</div>
			</div>
	</div>
</section>

<section class="productbis2">
	<div class="container">
		
			<div class="col-md-12 nopadding text-center">
				<div class="collection1">COLLECTION ELEGANCE ETERNELLE</div>
	 	   	<div class="description1">Bracelet Chalcedony</div>
	 	   	<div class="prix2">69.00€</div>
	 	  </div>
	 	  
	 	  <div class="col-md-12 nopadding text-center">
				<div class="minus2 inline">-</div>
				<div class="inline"><input class="quantity-product2" value="1"></input></div>
				<div class="minus2 inline">+</div>
				<div class="boutton2 inline"><%= link_to root_path, class: "btn btn-danger btn-lg btn-product1" do %>
				+ AJOUTER AU PANIER
				<% end %>
				</div>
			</div>

			
			<div class="col-md-12 text-center">
				<div class="borderproductbis"></div>
			</div>

			<div class="col-md-12 nopadding text-center description4">
				<div class="description4-titre">DESCRIPTION</div>
				<div class="description4-texte">Le bracelet Chalcedony est composé d'une chaîne diamentée en argent massif 925/1000 et d'une magnifique pierre naturelle Chalcedony. Ce produit fin et élégant se fondra parfaitement dans toutes vos tenues.</br> L'ensemble de nos créations sont réalisés à partir de matériaux précieux ou semi-précieux pour vous assurer une excellente qualité de produit.</div>
				</br>
				<div class="description4-texte">
					<div>Longueur: 17 à 20 cm&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-info-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Si vous souhaitez recevoir ce produit dans une taille différente, merci d'envoyer directement un email à hello@aglaiaco.com"></i></div>
					<div>Réf B00001. Made in France.</div>
				</div>
			</div>

			<div class="col-md-12 nopadding description-product3 social-icons2 text-center">
				<i class="fa fa-heart-o fa-2x socialicon1"></i>
				<i class="fa fa-facebook fa-2x socialicon2"></i>
				<i class="fa fa-twitter fa-2x socialicon3"></i>
				<i class="fa fa-instagram fa-2x socialicon3"></i>
				<i class="fa fa-pinterest fa-2x socialicon3"></i>
				<i class="fa fa-google-plus fa-2x socialicon3"></i>
			</div>

			<div class="col-md-12 text-center">
				<div class="borderproductbis"></div>
			</div>

			<div class="col-md-12 nopadding text-center description4">
				<div class="description4-titre">VOUS AVEZ BESOIN D'AIDE?</div>
				<div class="description4-texte">Contactez notre <span class="service">service client</span>.</div>
			</div>

	</div>
</section>

<section class="ethique2">
	<div class="container">
		<div class="col-md-12 ethique2-titre text-center">
			Choisissez votre cause.
		</div>
		<div class="col-md-12 ethique2-texte text-center">
			Grâce à vos achats, vous contribuez directement à améliorer des vies.</br>
			Nous nous impliquons grâce à vous et avec vous dans plusieurs actions humanitaires pour changer le monde.
		</div>
		<div class="col-md-12 ethique2-texte text-center">
		<%= link_to root_path, class: "btn btn-danger btn-lg btn-ethique" do %>
		EN SAVOIR PLUS
		<% end %>
		</div>
	</div>
</section>

<section class="news">
	<div class="container">
			<div class="row news-titre2 text-center">
				DECOUVREZ NOS AUTRES CREATIONS
			</div>
			<div class="row">
				<div class="col-xs-6 col-md-3">
 	   			<div class="thumbnail thumbnail3">
 	   				<%= link_to (image_tag("image21.jpg")), root_path %>
 	   				<div class="caption" id="caption-down">
 	   					<div class="bouttonproduit"><%= link_to root_path, class: "btn btn-danger btn-lg btn-product" do %>
							DETAILS
							<% end %></div>
 	   					<div class="col-md-6 nopadding iconheart iconproduct"><i class="fa fa-heart fa-2x">&nbsp;</i></div>
 	   					<div class="col-md-6 nopadding iconcart iconproduct"><i class="fa fa-shopping-cart fa-2x">&nbsp;</i></div>
 	   				</div>	
 	   			</div>
 	   			<div class="caption text-center">
 	   				<div class="collection">SENTIMENTS CONTRAIRES</div>
 	   				<div class="description">Bracelet argent et hématite</div>
 	   				<div class="prix">69€</div>
 	   			</div>
 	   		</div>
 	   		<div class="col-xs-6 col-md-3">
 	   			<div class="thumbnail thumbnail3">
 	   				<div class="caption" id="caption-down">
 	   					<div class="bouttonproduit"><%= link_to root_path, class: "btn btn-danger btn-lg btn-product" do %>
							DETAILS
							<% end %></div> 
 	   					<div class="col-md-6 nopadding iconheart iconproduct"><i class="fa fa-heart fa-2x">&nbsp;</i></div>
 	   					<div class="col-md-6 nopadding iconcart iconproduct"><i class="fa fa-shopping-cart fa-2x">&nbsp;</i></div>
 	   				</div>
 	   				<%= link_to (image_tag("image22.jpg")), root_path %>
 	   			</div>
 	   			<div class="caption text-center">
 	   				<div class="collection">ELEGANCE ETERNELLE</div>
 	   				<div class="description">Bracelet chalcedony</div>
 	   				<div class="prix">69€</div>
 	   			</div>
 	   		</div>
 	   		<div class="col-xs-6 col-md-3">
 	   			<div class="thumbnail thumbnail3">
 	   				<div class="caption" id="caption-down">
 	   					<div class="bouttonproduit"><%= link_to root_path, class: "btn btn-danger btn-lg btn-product" do %>
							DETAILS
							<% end %></div>
 	   					<div class="col-md-6 nopadding iconheart iconproduct"><i class="fa fa-heart fa-2x">&nbsp;</i></div>
 	   					<div class="col-md-6 nopadding iconcart iconproduct"><i class="fa fa-shopping-cart fa-2x">&nbsp;</i></div>
 	   				</div>
 	   				<%= link_to (image_tag("image23.jpg")), root_path %>
 	   			</div>
 	   		<div class="caption text-center">
	 	   				<div class="collection">CAPRICE PETILLANT</div>
	 	   				<div class="description">Créoles multi-pierres</div>
	 	   				<div class="prix">119€</div>
 	   		</div>
 	   		</div>
 	   		<div class="col-xs-6 col-md-3">
 	   			<div class="thumbnail thumbnail3">
 	   				<div class="caption" id="caption-down">
 	   					<div class="bouttonproduit"><%= link_to root_path, class: "btn btn-danger btn-lg btn-product" do %>
							DETAILS
							<% end %></div>
 	   					<div class="col-md-6 nopadding iconheart iconproduct"><i class="fa fa-heart fa-2x">&nbsp;</i></div>
 	   					<div class="col-md-6 nopadding iconcart iconproduct"><i class="fa fa-shopping-cart fa-2x">&nbsp;</i></div>
 	   				</div>
 	   				<%= link_to (image_tag("image24.jpg")), root_path %>
 	   			</div>
 	   			<div class="caption text-center">
 	   				<div class="collection">CAPRICE PETILLANT</div>
 	   				<div class="description">Bracelet multi-pierres</div>
 	   				<div class="prix">72€</div>
 	   			</div>
 	   		</div>
			</div>
	</div>
</section>