<section class="product">
	<div class="container">
		
		
		<div class="col-md-12 nopadding frise">
			Collections / Bracelets / Elegance Eternelle / Bracelet Chalcedony
		</div>
		<div class="col-md-6 nopadding">
			<div class="thumbnail thumbnail7">
 	   				<%= link_to (image_tag("image22.jpg")), root_path %>
 	   	</div>
 	   	<div class="col-md-2 nopadding padding-product-right">
 	   		<div class="thumbnail thumbnail10">
 	   				<%= link_to (image_tag("image22.jpg")), root_path %>
 	   		</div>
 	   	</div>
 	   	<div class="col-md-2 nopadding padding-product-right">
 	   		<div class="thumbnail thumbnail10">
 	   				<%= link_to (image_tag("image22.jpg")), root_path %>
 	   		</div>
 	   	</div>
 	   	<div class="col-md-2 nopadding padding-product-right">
 	   		<div class="thumbnail thumbnail10">
 	   				<%= link_to (image_tag("image22.jpg")), root_path %>
 	   		</div>
 	   	</div>
		</div>
		<div class="col-md-6 nopaddingright">
			<div class="col-md-12 nopadding description-product">
				<div class="collection1">COLLECTION ELEGANCE ETERNELLE</div>
	 	   	<div class="description1">Bracelet Chalcedony</div>
	 	   	<div class="prix1">69.00€</div>
	 	  </div>
			<div class="col-md-12 nopadding description-product2">
				Bracelet chaîne diamentée en argent massif 925/1000 et pierre de Chalcedony.	
				</br>
				</br>
				Longueur: 17 à 20 cm&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-info-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Si vous souhaitez recevoir ce produit dans une taille plus importante, merci d'envoyer directement un email à hello@aglaiaco.com"></i>
				</br>
				Réf: B00021
			</div>
			<div class="col-md-12 nopadding description-product3">
				<div class="minus inline">-</div>
				<div class="inline"><input class="quantity-product" value="1"></input></div>
				<div class="minus inline">+</div>
			</div>
			<div class="col-md-12 nopadding description-product4">
				<div><%= link_to root_path, class: "btn btn-danger btn-lg btn-product1" do %>
				+ AJOUTER AU PANIER
				<% end %></div>
			</div>
			<div class="col-md-12 nopadding description-product3 social-icons2">
				<i class="fa fa-heart-o fa-2x socialicon1"></i>
				<i class="fa fa-facebook fa-2x socialicon2"></i>
				<i class="fa fa-twitter fa-2x socialicon3"></i>
				<i class="fa fa-instagram fa-2x socialicon3"></i>
				<i class="fa fa-pinterest fa-2x socialicon3"></i>
				<i class="fa fa-google-plus fa-2x socialicon3"></i>
			</div>
		</div>

	</div>
</section>

<section class="product1">
	<div class="container">
		
		<div class="col-md-12 nopadding marginbottom1">
		<div class="col-md-6 nopadding">
				<div class="product1-titre">SERVICE CLIENT</div>
				<div class="col-md-4 nopadding padding-right"> 
					<div class="text-center borderaide1">
							<i class="fa fa-phone"></i>
							<div class="titre3">APPELEZ NOUS</div>
							<div>09 84 02 02 36</div>
					</div>
				</div>
				<div class="col-md-4 nopadding padding-medium"> 
					<div class="text-center borderaide1">
							<i class="fa fa-twitter"></i>
							<div class="titre3">TWITTEZ NOUS</div>
							<div>@aglaiaco</div>
					</div>
				</div>
				<div class="col-md-4 nopadding padding-left"> 
					<div class="text-center borderaide1">
							<i class="fa fa-envelope"></i>
							<div class="titre3">ENVOYEZ UN EMAIL</div>
							<div>hello@aglaiaco.com</div>
					</div>
				</div>
		</div>
		
		<div class="col-md-6 nopadding padding-left1">
			<div class="product1-titre">LA COLLECTION</div>
			<div class="col-md-12 nopadding">
				<div class="thumbnail thumbnail8">
 	   				<%= link_to root_path, class: "btn btn-lg btn-collection" do %>
							DECOUVREZ SON HISTOIRE
						<% end %>
 	   		</div>
			</div>
		</div>
	</div>

	<div class="col-md-12 nopadding">
		<div class="col-md-6 nopadding">
			 <div class="product1-titre">D'AUTRES PRODUITS FAITS POUR VOUS!</div>
			 <div class="col-xs-6 col-md-4 nopadding padding-right">
 	   			<div class="thumbnail thumbnail10">
 	   				<%= link_to (image_tag("image22.jpg")), root_path %>
 	   			</div>
 	   			<div class="caption text-center">
 	   				<div class="collection">ELEGANCE ETERNELLE</div>
 	   				<div class="description3">Bracelet chalcedony</div>
 	   				<div class="prix">69€</div>
 	   			</div>
 	   		</div>
 	   		<div class="col-xs-6 col-md-4 nopadding padding-medium">
 	   			<div class="thumbnail thumbnail10">
 	   				<%= link_to (image_tag("image22.jpg")), root_path %>
 	   			</div>
 	   			<div class="caption text-center">
 	   				<div class="collection">ELEGANCE ETERNELLE</div>
 	   				<div class="description3">Bracelet chalcedony</div>
 	   				<div class="prix">69€</div>
 	   			</div>
 	   		</div>
 	   		<div class="col-xs-6 col-md-4 nopadding padding-left">
 	   			<div class="thumbnail thumbnail10">
 	   				<%= link_to (image_tag("image22.jpg")), root_path %>
 	   			</div>
 	   			<div class="caption text-center">
 	   				<div class="collection">ELEGANCE ETERNELLE</div>
 	   				<div class="description3">Bracelet chalcedony</div>
 	   				<div class="prix">69€</div>
 	   			</div>
 	   		</div>
    </div>
		
		<div class="col-md-6 nopadding padding-left1">
			 <div class="product1-titre">AIDER NOUS A DONNER!</div>
			 <div class="thumbnail thumbnail9">
 	   				<%= link_to root_path, class: "btn btn-lg btn-collection" do %>
							EN SAVOIR PLUS
						<% end %>
 	   		</div>
		</div>
	</div>

	</div>
</section>
