<nav class="navbar1 clearfix">
  <div class="container">
    <div class="col-md-6 col-xs-12 text-left nopadding">
        <ul class="clearfix">
          <li class="boxleft"><i class="fa fa-lock">&nbsp;</i><%= link_to "CONNEXION", root_path %></li>
        </ul>
    </div>
    <div class="col-md-6 col-xs-12 text-right nopadding">
        <ul class="clearfix">
          <li class="boxright"><i class="fa fa-heart">&nbsp;</i><%= link_to "WHISHLIST", root_path %></li>
          <li class="boxright"><i class="fa fa-shopping-cart">&nbsp;</i><%= link_to "PANIER", root_path %></li>
        </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-sm-5 col-xs-6 text-left paddingtop">
      <div class="navbar3-titre"><i class="fa fa-heart">&nbsp;&nbsp;</i>SHARE THE LOVE</div>
      <div class="navbar3-texte">Invite tes amis et gagne 20€!</div>
    </div>
    <div class="col-sm-2 col-xs-6 text-center">
      <div class="thumbnail thumbnail1"><%= link_to image_tag("logo.png"), root_path %></div>
    </div>
    <div class="col-sm-5 col-xs-6 text-right paddingtop">
      <div class="navbar3-titre">PSSSSST!&nbsp;&nbsp;<i class="fa fa-truck"></i></div>
      <div class="navbar3-texte">La livraison et les retours sont gratuits!</div>
    </div>
  </div>
</div>

<nav class="navbar2" id="mainnav">
  <div class="container">
    <div class="col-md-12 text-center nopadding">
        <ul>
          <li class="box"><%= link_to "COLLECTIONS", root_path %></li>
          <li class="box"><%= link_to "ATELIER", root_path %></li>
          <li class="box"><%= link_to "STUDIO", root_path %></li>
          <li class="box"><%= link_to "ETHIQUE", root_path %></li>
          <li class="box"><%= link_to "COMMUNAUTE", root_path %></li>
          <li class="box"><%= link_to "BLOG", root_path %></li>
        </ul>
    </div>
  </div>
</nav>

